.container {
  border: 2px solid black;
  width: 100%;
  height: 100vh;
  position: absolute;
}

h1 {
  font-size: 50px;
  margin-left: 20px;
}

h2 {
  display: inline-block;
  font-size: 30px;
}

.refBtn {
  font-size: 20px;
  margin-left: 30px;
  width: 85px;
  height: 30px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.rec_scores {
  width: 30%;
  position: relative;
  margin-left: 5%;
  display: inline-block;
}

.add_score {
  width: 30%;
  position: relative;
  float: right;
  margin-right: 20%;
}

.scores {
  border: 2px solid black;
  width: 100%;
  height: 200px;
}

.inptxt {
  font-size: 20px;
  width: 300px;
  height: 25px;
  border: 2px solid black;
}

.subBtn {
  margin-left: 55%;
  font-size: 20px;
  width: 100px;
  height: 30px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

tr:nth-child(even) {
  background-color: #ddd;
}

table {
  width: 100%;
  height: 40px;
}
.container {
  border: 2px solid black;
  width: 100%;
  height: 100vh;
  position: absolute;
}

h1 {
  font-size: 50px;
  margin-left: 20px;
}

h2 {
  display: inline-block;
  font-size: 30px;
}

.refBtn {
  font-size: 20px;
  margin-left: 30px;
  width: 85px;
  height: 30px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.rec_scores {
  width: 30%;
  position: relative;
  margin-left: 5%;
  display: inline-block;
}

.add_score {
  width: 30%;
  position: relative;
  float: right;
  margin-right: 20%;
}

.scores {
  border: 2px solid black;
  width: 100%;
  height: 200px;
}

.inptxt {
  font-size: 20px;
  width: 300px;
  height: 25px;
  border: 2px solid black;
}

.subBtn {
  margin-left: 55%;
  font-size: 20px;
  width: 100px;
  height: 30px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

tr:nth-child(even) {
  background-color: #ddd;
}

table {
  width: 100%;
  height: 40px;
}